@import '../../index.scss';
@import '../../mixins';

$menu-icon-line-height: 5px;
$menu-icon-line-space: 12px;
$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
$menu-icon-height: (3 * $menu-icon-line-height) + (2 * $menu-icon-line-space);
$cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
$cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);
$navbar-height: 70px;

@mixin navbar-item-underline($line-width) {
	& {
		text-decoration: none;
		position: relative;
		color: var(--text-color);

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -4px;
			height: 2px;
			width: 0;
			background-color: var(--underline-color);
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			color: var(--light-green-color);

			&:before {
				width: $line-width;
			}
		}
	}
}

@mixin active-link($line-width) {
	& {
		position: relative;
		color: var(--primary-color);

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -4px;
			height: 2px;
			width: $line-width;
			background-color: aqua;
			transition: all 0.3s ease-in-out;
		}
	}
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10;

	.normal-navbar {
		@include media-desktop {
			display: block;
		}

		@include media-mobile {
			display: none;
		}

		.container {
			height: 90px;
			width: 100%;

			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				width: 200px;
				height: auto;
			}

			ul {
				list-style: none;

				display: flex;

				@include media-desktop {
					gap: min(3.5vw, 60px);
				}

				@include media-midsize {
					gap: max(2vw, 30px);
				}

				a {
					@include navbar-item-underline($line-width: 50px);

					&.active {
						@include active-link($line-width: 50px);
					}

					font-size: clamp(0.875rem, 0.1221rem + 1.5666vw, 1.25rem);
				}
			}
		}
	}

	.mobile-navbar {
		width: 100%;

		@include media-desktop {
			display: none;
		}

		@include media-mobile {
			display: block;
		}

		.header-section {
			display: flex;
			justify-content: end;

			height: $navbar-height;

			padding-top: 30px;

			img {
				width: 80px;
				height: $navbar-height;
			}
		}

		.hamburger-button {
			width: 50px;
			height: $menu-icon-height;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			span.white-line {
				height: $menu-icon-line-height;
				width: 100%;

				background-color: var(--white-color);

				border-radius: 3px;

				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

				transition: background-color 0.2s ease-in-out;

				&:nth-child(1) {
					animation: animate-line-1-rev 0.7s ease-in-out;
				}

				&:nth-child(2) {
					margin: $menu-icon-line-space 0;
					animation: animate-line-2-rev 0.7s ease-in-out;
				}

				&:nth-child(3) {
					animation: animate-line-3-rev 0.7s ease-in-out;
				}
			}
		}

		&:not(.active) {
			nav {
				display: none;
			}
		}

		&.active {
			span.white-line {
				&:nth-child(1) {
					animation: animate-line-1 0.7s $cubic-bezier-in forwards;
				}

				&:nth-child(2) {
					animation: animate-line-2 0.7s $cubic-bezier-in forwards;
				}

				&:nth-child(3) {
					animation: animate-line-3 0.7s $cubic-bezier-in forwards;
				}
			}

			nav {
				background-color: var(--tertiary-color);

				padding-block-end: 40px;

				height: 100vh;
				width: 100%;

				ul {
					display: flex;
					flex-direction: column;
					gap: 40px;

					align-items: center;
					justify-content: center;

					height: calc(100% - $navbar-height);

					li {
						a {
							font-size: 25px;
							@include navbar-item-underline($line-width: 80px);

							&.active {
								@include active-link($line-width: 80px);
							}
						}
					}
				}
			}
		}
	}
}

@keyframes animate-line-1 {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
	50% {
		transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
	}

	100% {
		transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
	}
}
@keyframes animate-line-2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}
@keyframes animate-line-3 {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
	50% {
		transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
	}

	100% {
		transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
	}
}
@keyframes animate-line-1-rev {
	0% {
		transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
	}
	50% {
		transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
	}

	100% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
}
@keyframes animate-line-2-rev {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes animate-line-3-rev {
	0% {
		transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
	}
	50% {
		transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
	}

	100% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
}
