@import '../../index.scss';
@import '../../mixins';

section.intro {
	padding-top: 50px;

	.container {
		display: grid;

		@include media-desktop {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			gap: 20px;
		}

		@include media-mobile {
			grid-template-columns: 1fr;
			grid-template-rows: 2;
		}
	}

	.section {
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;

			gap: 10%;

			@include media-mobile {
				gap: 20px;
				order: 0;
			}

			h1 {
				font-weight: 1000;
				line-height: 1;

				position: relative;

				background: linear-gradient(to right top, #0ee7e7 10%, #60c47c);
				@include gradient-text;

				@include media-desktop {
					font-size: 40px;
				}

				&:before {
					content: '';

					position: absolute;
					left: 0;
					bottom: -3px;

					width: 90%;
					height: 1px;
					background-color: var(--white-color);
				}

				&:after {
					content: '';

					position: absolute;
					left: 0;
					bottom: -10px;

					width: 98%;
					height: 1px;
					background-color: var(--white-color);
				}
			}

			h3 {
				font-weight: 700;

				.change-text {
					margin-left: 10px;

					color: var(--primary-color);

					text-transform: uppercase;

					@include text-underline($line-width: 3px, $line-color: aqua);
				}

				.cursor {
					color: var(--underline-color);
				}
			}

			p {
				strong {
					color: var(--primary-color);
				}
			}

			.view-cv-button {
				position: relative;
                cursor: pointer;

                height: 60px;

				a {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					text-align: center;
					line-height: 58px;
					text-transform: uppercase;

					color: var(--white-color);

					font-weight: 700;
				}

				.button-border {
					fill: none;
					stroke-width: 1;
				}

				.bg-line {
					fill: #5cea5ebe;
					stroke: #216d33;
					transition: all 0.8s ease-in-out;
				}

				.hl-line {
					stroke: #fff;
					stroke-dasharray: 40 480;
					stroke-dashoffset: 40;
					transition: all 0.8s ease-in-out;
				}

				&:hover {
					.bg-line {
						fill: var(--secondary-color);
					}

					.hl-line {
						stroke-dashoffset: -480;
					}
				}
			}
		}

		&-image {
			$block-space: 5%;
			$inline-space: 4%;

			display: flex;
			justify-content: center;
            align-items: center;

			@include media-mobile {
				order: -1;
			}

			img {
				height: auto;

				@include media-desktop {
					width: min(100%, 480px);
				}

				@include media-mobile {
					width: 80%;
				}

				&:nth-child(2) {
					opacity: 0.7;
					filter: brightness(78%);
				}
			}
		}
	}
}
