@import '../../index.scss';
@import '../../mixins';

section.intro {
	padding-top: 50px;

	.container {
		display: grid;

		@include media-desktop {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@include media-mobile {
			grid-template-columns: 1fr;
            gap: 40px;
		}
	}

	.section {
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;

			gap: 10%;

			@include media-desktop {
				font-size: clamp(0.8125rem, -0.0659rem + 1.8277vw, 1.25rem);
			}

			@include media-mobile {
				font-size: clamp(0.78125rem, 0.4617rem + 1.3819vw, 1.125rem);
				gap: 30px;
				order: 0;
			}

			h1 {
				font-weight: 1000;
				line-height: 1;

				position: relative;

				background: linear-gradient(to right top, #0ee7e7 10%, #60c47c);
				@include gradient-text;

				@include media-desktop {
					font-size: 40px;
				}

				@include media-desktop {
					font-size: 32px;
				}

				&:before {
					content: '';

					position: absolute;
					left: 0;
					bottom: -3px;

					width: 90%;
					height: 1px;
					background-color: var(--white-color);
				}

				&:after {
					content: '';

					position: absolute;
					left: 0;
					bottom: -10px;

					width: 98%;
					height: 1px;
					background-color: var(--white-color);
				}
			}

			h3 {
				font-weight: 700;

				.change-text {
					margin-left: 10px;

					color: var(--primary-color);

					text-transform: uppercase;

					@include text-underline($line-width: 3px, $line-color: aqua);
				}

				.cursor {
					color: var(--underline-color);
				}
			}

			p {
				strong {
					color: var(--primary-color);
				}
			}

			.view-cv-button {
				padding: 10px 40px;
				border-radius: 5px;

				display: flex;
				text-align: center;

				border: 2px solid #fff;

				overflow: hidden;

				cursor: pointer;

				position: relative;

				&::after {
					content: '';
					position: absolute;

					width: 100%;
					height: 0;

					top: 50%;
					left: 50%;

					background: #ffffffee;
					opacity: 0;

					transform: translateX(-50%) translateY(-50%) rotate(45deg);
                    transition: all 0.5s ease-in-out;

                    z-index: -1;
				}

				&:hover {

                    border-color: rgb(33 161 33);

                    a {
                        color: rgb(31, 184, 31);
                    }
                    
					&::after {
						height: 260%;
						opacity: 1;
					}
				}

				a {
					text-transform: uppercase;

					color: var(--white-color);

					font-weight: 700;
				}
			}
		}

		&-image {
			$block-space: 5%;
			$inline-space: 4%;

			display: flex;
			justify-content: center;
			align-items: center;

			@include media-mobile {
				order: -1;
			}

			img {
				height: auto;

				@include media-desktop {
					width: min(100%, 480px);
				}

				@include media-mobile {
					width: 60%;
				}

				&:nth-child(2) {
					opacity: 0.7;
					filter: brightness(78%);
				}
			}
		}
	}
}
