@mixin media-desktop {
	@content;
}

@mixin media-midsize {
	@media only screen and (min-width: 769px) and (max-width: 1152px) {
		@content;
	}
}

@mixin media-mobile {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin media-mobile-small {
	@media only screen and (max-width: 534px) {
		@content;
	}
}

@mixin gradient-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin text-underline($line-width, $line-color) {
	& {
        position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -4px;
			height: $line-width;
			width: 0;
			background-color: $line-color;
			transition: all 0.3s ease-in-out;
			width: 100%;
		}
	}
}