@import './index.scss';
@import './mixins';

body:has(div#root) {
	background-color: var(--background-color);
	color: var(--text-color);

	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.container {
	width: 100%;
	max-width: 1192px;

	margin: 0 auto;
	padding-inline: 20px;
}

section {
	margin-top: 150px;

	&:not(.intro) {
		h1 {
			margin-bottom: 80px;
		}
	}
}

#root h1 {
	font-weight: 1000;
	line-height: 1;

	position: relative;

	width: fit-content;

	background: linear-gradient(to right top, #0ee7e7 10%, #60c47c);
	@include gradient-text;

	@include media-desktop {
		font-size: 40px;
	}

	@include media-mobile {
		font-size: 32px;
	}

	&:before {
		content: '';

		position: absolute;
		left: 0;
		bottom: -7px;

		width: 90%;
		height: 3px;
		background-color: var(--white-color);
	}

	&:after {
		content: '';

		position: absolute;
		left: 0;
		bottom: -12px;

		width: 98%;
		height: 2px;
		background-color: var(--white-color);
	}
}