@import url('./index.scss');

body {
	background-color: var(--background-color);
	color: var(--text-color);

	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.container {
	width: 100%;
	max-width: 1192px;

	margin: 0 auto;
	padding-inline: 20px;
}

main {
	height: 1000px;
}
